.background-shape {
    position: absolute;
    width: 100%;
    height: 20%;
    background-image: url('src/assets/Rectangle 283.png');
    background-size: cover;    
    background-position: center;   
    background-repeat: no-repeat;
    z-index: 0;
}

.login-page-container {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    position: relative;
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 100%;
    padding: 15px 50px;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    display: flex;
}

.nav-center {
    font-size: 20px;
    display: flex;
    gap: 50px;
    margin-left: 35pc;
    font-weight: 700;
    text-decoration: none; 
    cursor: pointer;
}

.nav-link.active {
    color: #000000;
    text-decoration: none; 
    cursor: pointer;
}

.nav-link:hover {
    color: #0e22c4;
    text-decoration: underline;
}

.nav-link.active:hover {
    font-weight: 700; 
    text-decoration: underline;
}

.nav-right {
    display: flex;
    gap: 20px;
    margin-right: 90px;
}

.btn-login {
    padding: 10px 20px;
    border-radius: 8px;
    background: #0d1dad;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.btn-login:hover {
    background: #162bec;
}

.btn-enroll {
    padding: 10px 20px;
    border-radius: 8px;
    background: #00d07d;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.btn-enroll:hover {
    background: #07d000ba;
}

.login-box {
    width: 50%;
    background: #ffffff;
    margin: 115px auto;
    padding: 35px; 
    border-radius: 16px;
    box-shadow: 0px 20px 40px rgba(11, 17, 123, 0.906);
    text-align: center;
    position: relative;
    z-index: 2;
}

.login-box h2 {
    font-size: 50px;
    font-weight: 760;
    color: #132060;
    margin-bottom: 25px; 
}

.login-box form {
    display: flex;
    flex-direction: column;
    gap: 18px; 
    text-align: left; 
}

.login-box label {
    font-weight: 500;
    margin-top: 6px; 
}

.login-box input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    font-size: 1rem;
    background: #f8f8f8;
    margin-top: 6px; 
    border: 1px solid #ccc; 
}

.login-box input:focus {
    border-color: #4459ff;
    outline: none;
}

.forgot-password {
    width: 100%;
    text-align: right;
    color: #425dff;
    font-size: 0.9rem;
    margin-bottom: 20px;
    cursor: pointer;
}

.btn-submit {
    width: 100%;
    padding: 14px;
    background: #162dff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s ease;
}

.btn-submit:hover {
    background: #0e22c4;
}

.signup-text {
    margin-top: 15px; 
    font-size: 0.95rem;
}

.signup-text a {
    color: #4459ff;
    font-weight: 600;
    text-decoration: none;
}
