.navbar {
  width: 100%;
  padding: 15px 50px;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  display: flex;
}

.nav-center {
  font-size: 20px;
  display: flex;
  gap: 50px;
  margin-left: 35pc;
  font-weight: 700;
  cursor: pointer;
}

.nav-link {
  text-decoration: none;
  color: #000;
}

.nav-link:hover {
  color: #0e22c4;
  text-decoration: underline;
}

.nav-right {
  display: flex;
  gap: 20px;
  margin-right: 90px;
}

.btn-login {
  padding: 10px 20px;
  border-radius: 8px;
  background: #0d1dad;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.btn-login:hover {
  background: #162bec;
}

.btn-enroll {
  padding: 10px 20px;
  border-radius: 8px;
  background: #00d07d;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

.btn-enroll:hover {
  background: #07d000ba;
}


.register-background {
  position: absolute;
  width: 100%;
  height: 20%;
  background-image: url("src/assets/Rectangle 283.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
}


.register-page {
  width: 100%;
  min-height: 100vh;
  background: #ffffff;
  position: relative;
  font-family: "Poppins", sans-serif;
}


.register-box {
  width: 50%;
  background: #ffffff;
  margin: 115px auto;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0px 20px 40px rgba(11, 17, 123, 0.906);
  text-align: center;
  z-index: 2;
  position: relative;
}

.register-box h2 {
  font-size: 40px;
  font-weight: 760;
  color: #132060;
  margin-bottom: 25px;
}


.register-box form {
  display: flex;
  flex-direction: column;
  gap: 18px;
  text-align: left;
}

.full-row label,
.form-grid label {
  font-weight: 500;
}

.full-row input {
  width: 95%;
  padding: 12px;
  background: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 6px;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 18px;
}

.form-grid input,
.form-grid select {
  width: 100%;
  padding: 12px;
  background: #f8f8f8;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 6px;
}

input:focus,
select:focus {
  border-color: #4459ff;
  outline: none;
}

.btn-register {
  width: 100%;
  padding: 14px;
  background: #162dff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 10px;
}

.btn-register:hover {
  background: #0e22c4;
}

.login-text {
  margin-top: 15px;
  font-size: 0.95rem;
}

.login-text a {
  color: #4459ff;
  font-weight: 600;
  text-decoration: none;
}
